
.opened #header {

    width: 230px;
}

.opened #content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
    opacity: 1;
    margin-left: 0;
    height: 100%;
} 
.opened #content:before {
    content: ''
} 
.opened .curtain-button.close {
    opacity: 1;
            width: 65px;
            height: 65px;
}
.opened .curtain-button.open {
    display: none;

}

.opened #nav {
    padding: 10px;
}

.opened #nav span{
    display: inline-block;
    padding: 10px;
    font-size: 22px;
    color:#aaa;
    cursor:pointer;
}

.opened #content>div {
    padding: 30px;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.opened .my-avatar {    
    width: 200px;
    height: 200px;
}

.opened  .robot {

    opacity: 0;
}


.opened #nav-tags {
    display: inline-block
}        
    .opened #nav-tags span {
        margin-right: 10px;
        padding: 5px 10px;
        display: inline-block
    }

    #nav #clean-search {
        padding: 0
    }

    .opened #nav #clean-search {
        display: none
    }

    .opened.active-search #nav #clean-search {
        display: inline-block
    }